@model TechHaven.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <h3 class="text-center">Are you sure you want to delete this product?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-6 text-end">
            @Html.DisplayNameFor(model => model.Manufacturer):
        </dt>
        <dd class = "col-6">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-6 text-end">
            @Html.DisplayNameFor(model => model.Model):
        </dt>
        <dd class = "col-6">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-6 text-end">
            @Html.DisplayNameFor(model => model.Price):
        </dt>
        <dd class = "col-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-6 text-end">
            @Html.DisplayNameFor(model => model.NumberOfAvailable):
        </dt>
        <dd class = "col-6">
            @Html.DisplayFor(model => model.NumberOfAvailable)
        </dd>
        <dt class="col-6 text-end">
            @Html.DisplayNameFor(model => model.Category):
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <div>
        <form asp-action="Delete" class="d-flex gap-3 flex-column align-items-center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" style="width:50%; max-width:150px; min-width:70px;" />
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
