@model Product

<div class="container my-4">
    <h2 class="text-center">Product details</h2>
    <hr class="mb-4" />
    <div class="row">

        <div class="col-12 col-lg-6">
            <img src="https://placehold.co/600x400" class="img-fluid border border-secondary-subtle rounded w-100" />
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
            <div>
                <h3 class="mt-3 mt-lg-0 mb-3">@Model.Manufacturer @Model.Model</h3>
                <div class="mb-3">
                    <span class="h5">@Model.Price KM</span>
                    <span class="text-muted">/po proizvodu</span>
                </div>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam venenatis auctor. In sollicitudin dictum posuere. Maecenas rhoncus dui magna, tempus ornare ligula finibus quis. Duis rutrum fringilla elit vitae bibendum.</p>

                <div class="d-flex">
                    <div>
                        <span class="me-1">Količina:</span>
                        <div class="btn-group me-2" style="width: 120px;">
                            <button type="button" class="btn btn-outline-secondary">-</button>
                            <input type="text" class="form-control" placeholder="1">
                            <button type="button" class="btn btn-outline-secondary">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 d-flex gap-2">
                <a id ="addToCartBtn" class="btn btn-primary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <span class="ms-2">Dodaj u korpu</span>
                </a>
                <a id="saveToFavBtn" class="btn btn-danger d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                    <span class="ms-2">Dodaj u wishlist</span>
                </a>
            </div>
        </div>

    </div>

</div>


<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h3 class="text-center mb-3">Slični artikli</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('saveToFavBtn').addEventListener('click', AddToFavs);
    document.getElementById('addToCartBtn').addEventListener('click', AddToCart);

    async function AddToFavs(){
        const parameters = new URLSearchParams();
        parameters.append("newProdId", "@Model.Id");
        const url = "/MyAccount/AddToFavorites?" + parameters.toString();

        const result = await fetch(url)
            .then(response => response.json());

        console.log(result);
    }

    async function AddToCart(){
        const parameters = new URLSearchParams();
        parameters.append("id", "@Model.Id");
        const url = "/Products/AddToCart?" + parameters.toString();

        const result = await fetch(url)
            .then(response => response.json());
        console.log(result);
    }

</script>