@model IList<CartItemViewModel>
@using TechHaven.Services;
@inject CartManager _cartManager;
@{
    var cart = await _cartManager.GetCurrentCart();
    var products = (IList<Product>)cart.Products;
    double shipmentFee = 8.00;
    double withShipment = cart.TotalPrice;
    if (cart.TotalPrice <= 200)
    {
        withShipment += shipmentFee;
    }
    var priceWithShipment = withShipment.ToString("F");
    if (cart.Products.Count() == 0) priceWithShipment = "0";
}


<form method="post" asp-action="StartOrder">
<div class="container my-4">
    <h2 class="text-center">Shopping cart</h2>
    <hr class="mb-4" />
    <div class="row">
        
        <div class="col-lg-8 table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">Proizvod</th>
                        <th scope="col">Cijena</th>
                        <th scope="col">Količina</th>
                        <th scope="col">Ukupno</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for(int i = 0; i < Model.Count; ++i)
                    {
                        <tr>
                            <td scope="row">
                                <img src="https://placehold.co/70x70" class="img-fluid" alt="...">
                                <span class="ms-2"> @products[i].Manufacturer @products[i].Model</span>
                            </td>
                            <td>@products[i].Price KM</td>
                            <td>
                                <input class="form-control" style="min-width: 50px; width: 40%; max-width: 100px;" type="number" min="1" max = "100" value="1" asp-for="@Model[i].NumberOfRepetitions" />
                                <input type="hidden" asp-for="@Model[i].Product.Id">
                                <input type="hidden" asp-for="@Model[i].Product.Manufacturer"/>
                                <input type="hidden" asp-for="@Model[i].Product.Model"/>
                                <input type="hidden" asp-for="@Model[i].Product.Price"/>
                                <input type="hidden" asp-for="@Model[i].Product.Category"/>
                                
                            </td>
                            <td>@products[i].Price KM</td>
                            <td>
                                <a class="btn-close" aria-label="Close" asp-action="RemoveFromCart" asp-route-id="@products[i].Id"></a>
                            </td>
                        </tr>
                    } 
                        
                </tbody>
            </table>
        </div>

        <div class="col-lg">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title text-center">Ukupni iznos</h5>
                    <hr />
                    <div class="fs-5 d-flex justify-content-between mb-1">
                        <div>Ukupno:</div>
                        <div>@cart.TotalPrice.ToString("F") KM</div>
                    </div>
                    <div class="fs-5 d-flex justify-content-between mb-1">
                        <div>Dostava:</div>
                        @if (cart.TotalPrice > 200)
                        {
                            <div class="text-decoration-line-through">@shipmentFee.ToString("F") KM</div>
                        }
                        else
                        {
                            <div>@shipmentFee.ToString("F") KM</div>
                        }
                    </div>
                    <p class="fs-6 fw-light">Dostava je <b>besplatna</b> za sve narudžbe preko 200KM.</p>

                    <hr />
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Ukupna cijena: </h5>
                        <h5>@priceWithShipment KM</h5>
                    </div>
                    
                        <button type="submit" class="btn btn-primary w-100" >Kupi sada</button>
                    
                </div>
            </div>
        </div>
    </div>      
</div>
</form>
<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h3 class="text-center mb-3">Recommended for you</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Product title</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center p-2">
                        <a href="#" class="btn btn-sm btn-primary">Detalji</a>
                        <small class="text-body-secondary">$9.99</small>
                        <a href="#" class="btn btn-sm btn-success">Dodaj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>