@model OrdersViewModel
@using TechHaven.Services
@inject PaymentManager _paymentManager;
@inject OrdersManager _orderManager;

<div class="container my-4">
	<div class="row g-5">
		<div class="col-md-7">
			<h4 class="mb-3">Billing address and Payment</h4>
			<form method="post" asp-action="ThankYou">
				<input type="hidden" asp-for="order.Price" />
				@for (int i = 0; i < Model.cartItems.Count; i++)
				{
					<input type="hidden" asp-for="@Model.cartItems[i].Product.Id" />
					<input type="hidden" asp-for="@Model.cartItems[i].Product.Category" />
					<input type="hidden" asp-for="@Model.cartItems[i].Product.Model" />
					<input type="hidden" asp-for="@Model.cartItems[i].Product.Manufacturer" />
					<input type="hidden" asp-for="@Model.cartItems[i].Product.Price" />
					<input type="hidden" asp-for="@Model.cartItems[i].Product.NumberOfAvailable" />
					<input type="hidden" asp-for="@Model.cartItems[i].NumberOfRepetitions" />
				}
				<div class="row g-3">
					<div class="col-lg-6">
						<label for="address" class="form-label">Address</label>
						<input asp-for="order.ShippingAddress" type="text" class="form-control" id="address" placeholder="Aleja Bosne Srebrene" required="">
					</div>
					<div class="col-lg-6">
						@{
							var creditCardNumbers = await _paymentManager.GetUserCards();
						}
						<label for="cc-number" class="form-label">Credit card number</label>
						<input type="text" list="credit-card" class="form-control" id="cc-number" name="selectedCard">
						<datalist id="credit-card">
							@foreach(var cardNumber in creditCardNumbers)
							{
								<option value="@cardNumber.creditCardNumber" />
							}
						</datalist>
						<div class="invalid-feedback">
							Credit card number is required
						</div>
					</div>
				</div>
				<hr class="my-4">
				<button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
			</form>
		</div>
		<div class="col-md-5">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-primary">Your cart</span>
				<span class="badge bg-primary rounded-pill">@Model.cartItems.Count</span>
			</h4>
			<ul class="list-group mb-3">
				@{
					double totalPrice = 0;
					foreach (var item in Model.cartItems)
					{
						var price = item.Product.Price * item.NumberOfRepetitions;
						totalPrice += price;
						<li class="list-group-item d-flex justify-content-between lh-sm">
							<div>
								<h6 class="my-0">@item.Product.Manufacturer @item.Product.Model</h6>
								<small class="text-muted">Količina: @item.NumberOfRepetitions</small>
							</div>
							<span class="text-muted">@price KM</span>
						</li>
					}
					<li class="list-group-item d-flex justify-content-between">
						<span>Total (KM)</span>
						<strong>@totalPrice KM</strong>
					</li>
				}
			</ul>
		</div>
	</div>
</div>
