@{
    ViewData["Title"] = "Home Page";
}

@using TechHaven.Services
@using Microsoft.AspNetCore.Identity
@inject ProductManager _productManager
@inject SignInManager<Customer> _signInManager
@inject GuestRecommendation _guestRecommendation;
@inject CustomerRecommendation _customerRecommendation;
@inject ImageFactory _imageFactory;



<div id="carouselExampleCaptions" class="carousel slide container">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/iPhone15.jpg" class="d-block w-100 hero-image" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-start" style="margin-bottom: 50px;">
                <h2 style="font-weight: 600;">Our newest offer</h2>
                <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="ProductDetails" asp-route-id="127">Check it out</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/camera-hero.jpg" class="d-block w-100 hero-image" alt="...">
            <div class="hero-camera-text">
                <h2 style="font-weight: 600;">Like photography? </h2>
                <span>We might have something for you</span>
                <a class="btn btn-primary btn-sm ms-2" asp-controller="Products" asp-action="ProductDetails" asp-route-id="153">Show me</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/headphones-hero.jpg" class="d-block w-100 hero-image" alt="...">
            <div class="hero-headphone-text">
                <h2 style="font-weight: 600;">Immersive,</h2>
                <h2 style="display:inline;">yet</h2>
                <h2 style="font-weight: 600;">comfortable</h2>
                <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="ProductDetails" asp-route-id="133">Explore now</a>
            </div>




        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container mt-5">
    <div class="row align-items-baseline">
        <div class="col d-flex align-items-center flex-column">
            <img src="~/images/truck.svg" style="width: 100px;" />
            <p>Delivery within 48 hours <span style="font-weight: 600;">world-wide</span></p>
        </div>
        <div class="col d-flex align-items-center flex-column">
            <img src="~/images/pricetag.svg" style="width: 60px;" />
            <p>Money back within 30 days <span style="font-weight:600;">guarantee</span></p>
        </div>
        <div class="col d-flex align-items-center flex-column">
            <img src="~/images/person.svg" style="width: 70px;" />
            <p>Register account for <span style="font-weight:600;">free</span> for many benefits</p>
        </div>
    </div>

</div>

<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h2 class="text-center mb-3 section-header">Newest Products</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var prod in await _productManager.GetRandomProducts(6))
            {
                var imgbase64 = (await _imageFactory.GetImage(prod.Category)).base64Content;
                <div class="col">
                    <div class="card h-100">
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">
                            <img src="data:image/jpeg;base64,@imgbase64" class="card-img-top prod-photo" loading="lazy" alt="..." asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">@prod.Manufacturer @prod.Model</h5>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a class="btn btn-sm btn-primary commonBtn" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">Details</a>
                            <small class="text-body-secondary">@prod.Price KM</small>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Recommendations -->
<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h2 class="text-center mb-3 section-header">Recommended for you</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @if (_signInManager.IsSignedIn(User))
            {
                var allProducts = (await _productManager.GetAllProducts()).ToList();
                await _customerRecommendation.Setup(new HistoryAnalyzer(allProducts));
                var recommends = _customerRecommendation.RecommendProducts();

                foreach (var prod in recommends.Take(3))
                {
                    var imgbase64 = (await _imageFactory.GetImage(prod.Category)).base64Content;
                    <div class="col">
                        <div class="card h-100">
                            <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">
                                <img src="data:image/jpeg;base64,@imgbase64" class="card-img-top prod-photo" loading="lazy" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">@prod.Manufacturer @prod.Model</h5>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                                <a class="btn btn-sm btn-primary commonBtn" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">Details</a>
                                <small class="text-body-secondary">@prod.Price KM</small>
                            </div>
                        </div>
                    </div>
                }


            }
            else
            {
                var allProducts = (await _productManager.GetAllProducts()).ToList();
                await _guestRecommendation.Setup(new HistoryAnalyzer(new List<Product>()));
                var recommends = _guestRecommendation.RecommendProducts();

                foreach (var prod in recommends.Take(3))
                {
                    var imgbase64 = (await _imageFactory.GetImage(prod.Category)).base64Content;
                    <div class="col">
                        <div class="card h-100">
                            <a asp-controller ="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">
                                <img src="data:image/jpeg;base64,@imgbase64" class="card-img-top prod-photo" loading="lazy" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">@prod.Manufacturer @prod.Model</h5>

                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                                <a class="btn btn-sm btn-primary commonBtn" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@prod.Id">Details</a>
                                <small class="text-body-secondary">@prod.Price KM</small>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<!-- explore section -->

<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h2 class="text-center mb-3 section-header">explore our options</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                var imgbase64laptop = (await _imageFactory.GetImage("Laptop")).base64Content;
                var imgbase64phone = (await _imageFactory.GetImage("Phone")).base64Content;
                var imgbase64console = (await _imageFactory.GetImage("Gaming Console")).base64Content;
            }
            <div class="col">
                <div class="card h-100">
                    <a asp-controller="Products" asp-action="Index" asp-route-category="Laptop">
                        <img src="data:image/jpeg;base64,@imgbase64laptop" class="card-img-top prod-photo" loading="lazy" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">Laptops</h5>
                    </div>
                    <div class="card-footer p-2 pe-3 d-flex justify-content-center">
                        <a class="btn btn-md btn-primary commonBtn px-5" asp-controller="Products" asp-action="Index" asp-route-category="Laptop">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a asp-controller="Products" asp-action="Index" asp-route-category="Phone">
                        <img src="data:image/jpeg;base64,@imgbase64phone" class="card-img-top prod-photo" loading="lazy" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">Phones</h5>
                    </div>
                    <div class="card-footer p-2 pe-3 d-flex justify-content-center">
                        <a class="btn btn-md btn-primary commonBtn px-5" asp-controller="Products" asp-action="Index" asp-route-category="Phone">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a asp-controller="Products" asp-action="Index" asp-route-category="Gaming Console">
                        <img src="data:image/jpeg;base64,@imgbase64console" class="card-img-top prod-photo" loading="lazy" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">Consoles</h5>
                    </div>
                    <div class="card-footer p-2 pe-3 d-flex justify-content-center">
                        <a class="btn btn-md btn-primary commonBtn px-5" asp-controller="Products" asp-action="Index" asp-route-category="Gaming Console">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="border border-secondary-subtle rounded p-3">
        <h2 class="text-center mb-3">Find Us</h2>
        <div id="myMap" class="w-100" style="position:relative; height:400px;"></div>
    </div>
</div>

<script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async
        defer></script>

<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AvtaHEtWRN8GQzruJcqDKqVEWl5S8Jpv2-fj6wkPJQ8fmtceyOd6dwEGjeygr_pE',
            center: new Microsoft.Maps.Location(20.831, -156.916),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 8
        });

        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false
        });
        infobox.setMap(map);
        var techHaven = new Microsoft.Maps.Location(20.831, -156.916);
        var pin = new Microsoft.Maps.Pushpin(techHaven);
        pin.metadata = {
            title: 'TechHaven Inc.',
            description: 'TechHaven Inc. Headquarters'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);
    }

    function pushpinClicked(e) {
        if (e.target.metadata) {
            infobox.setOptions({
                location: e.target.getLocation(),
                title: e.target.metadata.title,
                description: e.target.metadata.description,
                visible: true
            });
        }
    }
</script>